[project]
	description = Mirror of Apache Thrift
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ken Renshaw (krenshaw2018)
[access "refs/for/refs/*"]
	read = group user/Ken Renshaw (krenshaw2018)
	push = group user/Ken Renshaw (krenshaw2018)
	label-Code-Review = -2..+2 group user/Ken Renshaw (krenshaw2018)
	label-Verified = -1..+1 group user/Ken Renshaw (krenshaw2018)
	rebase = group user/Ken Renshaw (krenshaw2018)
	removeReviewer = group user/Ken Renshaw (krenshaw2018)
	submit = group user/Ken Renshaw (krenshaw2018)
[access "refs/heads/*"]
	read = group user/Ken Renshaw (krenshaw2018)
	create = group user/Ken Renshaw (krenshaw2018)
	push = +force group user/Ken Renshaw (krenshaw2018)
	pushMerge = group user/Ken Renshaw (krenshaw2018)
[access "refs/tags/*"]
	push = group user/Ken Renshaw (krenshaw2018)
	push = +force group user/Ken Renshaw (krenshaw2018)
